
<h1>Booking Confirmation</h1>

<h3> Hi <%= @owner.email %> </h3>

<p>
Your flat has just been rented !
<br>
<br>

We confirm you that <%= @booking.title %> has just been rented by <%= @booking.user.name %> from <%= @booking.arrival %> to <%= @booking.departure %>.

<br>
<br>

Feel free to ask any questions.
<br>
<br>

Alex


</p>
