<% @flats.each do |flat| %>
  <h2><%= flat.title %></h2>
  <p><%= flat.description %></p>
  <p><%= flat.address %></p>
  <p><%= flat.city %></p>
  <p><%= flat.availability %></p>
  <p><%= flat.capacity %></p>
  <p><%= flat.price %></p>

<% end %>

