<div id="page_index_flat">
  <%= link_to "Retour", :back %>

  <div class='flat_presentation'>
    <div class="row ">
      <% @flats.each do |flat| %>
      <%= link_to flat_path(flat) do %>
      <div class="col-xs-12 col-md-4 col-lg-3 text-center">
        <div class="card_index_flat">
          <div class="contain_price">
          <%= image_tag flat.picture.url(:medium), class:'flat_picture' %>
          <%= image_tag flat.user.avatar, id:'prop_pictures', class:'flat_picture img-circle' %>
            <div class='flat_price'>
              <p><%= flat.price %>€</p>
            </div>
          </div>

          <div class='bottom_card_flat'>
            <h5><%= flat.title%></h5>
            <p> <%=flat.address %>  </p>
            <p><%=flat.city %></p>
          </div>
          <div class='prop_picture'>

          </div>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>
</div>



