<div id="page_index_flat">
  <%= link_to "Retour", :back %>
  <h1>Voici la liste des appartements</h1>
  <div class='flat_presentation'>

      <% @flats.each do |flat| %>
         <div class="row ">
          <div class="col-xs-4 text-center">
            <%= image_tag flat.picture.url(:medium), class:'flat_picture' %>
          </div>
          <div class="col-xs-4  text-center">
            <div class="box_decoration">
              <h4><%= flat.title %></h4>
              <p> <strong>Description :</strong> <%= flat.description %></p>
            </div>
          </div>
          <div class="col-xs-4 text-center ">
            <div class="box_decoration">
              <p> <strong>Address :<col-xs-offset-1 /strong>  <%= flat.address %></p>
              <p> <strong>City :</strong>  <%= flat.city %></p>
              <p> <strong>Availability :</strong> <%= flat.availability %></p>
              <p> <strong>Capacity :</strong>  <%= flat.capacity %>  <i class="fa fa-users"></i>
              </p>
              <p> <strong>Price :</strong>  <%= flat.price %> <i class="fa fa-eur"></i>
              </p>
            </div>
          </div>
        </div>
      <% end %>

  </div>
</div>

