<div id="show">
   <%= link_to "Retour", :back %>
  <h1><%= @flat.title %></h1>



  <div class="container">
    <div class="row">
       <%= image_tag @flat.picture, :class => "image col-xs-8 col-xs-offset-2" %>
    </div>
    <div class="row row-centered">

      <div class="col-xs-6 col-xs-offset-2">
        <div id="description">

          <h5>Description</h5>
          <p><%= @flat.description %></p>
        </div>
      </div>


      <div  class="col-xs-2 ">
        <div id="details">
          <p>Address: <%= @flat.address %></p>
          <p>City: <%= @flat.city %></p>
          <p>Availability: <%= @flat.availability %></p>
          <h5>Capacity: <%= @flat.capacity %> <i class="fa fa-users"></i></h5>
          <h5>Price: <%= @flat.price %> <i class="fa fa-eur"></i></h5>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <h2> Make a reservation </h2>
        <%= simple_form_for [@flat, @booking] do |f| %>

          <%= f.input :title %>
          <%= f.hidden_field :user_id, :value => current_user.id%>
          <%= f.input :arrival %>
          <%= f.input :departure %>
          <%= f.input :number_of_travellers %>

          <button class=" btn btn-primary" type="button" data-toggle="modal" data-target="#myModal" id="myInput">Validate my book</button>
          <div class="modal fade" id="myModal">
            <div class="modal-body">
              <h3> You're going to create a new reservation. Do you want to validate ?</h3>
              <p> You're booking details will be available in your personal profile.
              <%= f.button :submit, class: "btn-primary", id:"input_validate" %>
        <% end %>
            </div>
          </div><!-- /.modal-dialog -->
      </div>
    </div>
  </div>
</div>



