<h1> Booker <%=@flat.title %> </h1>
<%= link_to "Retour", :back %>
<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <%= simple_form_for [@flat, @booking] do |f| %>

        <%= f.input :title %>
        <%= f.hidden_field :user_id, :value => current_user.id%>
        <%= f.input :arrival %>
        <%= f.input :departure %>
        <%= f.input :number_of_travellers %>

        <%= f.button :submit, class: "btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
