<div class='body_fullscreen'>
  <div class='window-height'>
    <% if current_user.id == @flat.user.id %>
      <%= link_to "Retour", :back %>
      <h4 class="text-center"> Vous ne pouvez pas louer votre appartement.</h4>
      <div class='text-center'>
        <%= link_to 'Retourner dans mon profil', account_path%>
      </div>
    <% elsif @flat.availability == false %>
      <%= link_to "Retour", :back %>
      <h4 class="text-center"> Désolé, cet appartement n'est pas disponible à la location :(.</h4>
      <div class='text-center'>
        <%= link_to 'Retourner dans mon profil', account_path%>
      </div>
    <% else %>

      <h1> Booker <%=@flat.title %> </h1>
      <%= link_to "Retour", :back %>
      <div class="container">
        <div class="row">
          <div class="col-xs-8 col-xs-offset-2">
            <%= simple_form_for [@flat, @booking] do |f| %>

              <%= f.input :title %>
              <%= f.hidden_field :user_id, :value => current_user.id%>
              <%= f.input :arrival %>
              <%= f.input :departure %>
              <%= f.input :number_of_travellers %>

                <button class=" btn btn-primary" type="button" data-toggle="modal" data-target="#myModal" id="myInput">Validate my book</button>
                <div class="modal fade" id="myModal">
                  <div class="modal-body">
                    <h3> You're going to create a new reservation. Do you want to validate ?</h3>
                    <p> You're booking details will be available in your personal profile.
                    <%= f.button :submit, class: "btn-primary", id:"input_validate" %>
              <% end %>
                  </div>
                </div><!-- /.modal-dialog -->
          </div>
        </div>
      </div>
    <%end %>
  </div>
</div>
