<div id="profile_user">
  <h2>Welcome back <%= @user.name %>
  </h2>
  <div class="container">
    <div class="row">
      <div class='col-xs-12 col-md-6 col-lg-4'>
        <%= image_tag current_user.avatar.url(:medium), id:"thumb_profile", class:"img-circle"  %>
      </div>
      <div id="profile_infos" class='col-xs-12 col-md-6 col-lg-4 '>
        <h3>About you</h3>
        <% if  @user.provider %>
          <ul>
            <li><%= "Name :" %> <%= @user.name %></li>
            <li> <%= "Description :" %> <%= @user.description %></li>
            <li><%= "E-mail :" %> <%= @user.email %></li>
          </ul>
        <% else %>
          <ul>
              <li><%= "Name :" %> <%= @user.name %></li>
              <li> <%= "Description :" %> <%= @user.description %></li>
              <li><%= "E-mail :" %> <%= @user.email %></li>
          </ul>
        <% end %>
        <%= link_to "Edit profile", edit_account_path, class:"btn btn-primary"%>
      </div>
    </div>
  </div>



  <div class="tab_profile">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#myreservations" aria-controls="myreservations" role="tab" data-toggle="tab">My Reservations</a></li>
      <li role="presentation"><a href="#myapartments" aria-controls="myapartments" role="tab" data-toggle="tab">My apartments</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content text-center">
      <div role="tabpanel" class="tab-pane active" id="myreservations">
        <ul>
            <% current_user.bookings.each do |booking| %>
            <div class="tab_details" >
              <li>
                <div class="container">
                  <div class="row">
                    <div class="col-xs-2">
                      <%= image_tag booking.flat.picture.url(:thumb), id:"thumb_profile", class:"img-circle"  %>
                    </div>
                    <div class="col-xs-3 col-xs-offset-1 text-left">
                      <p>Réservation de <strong><%= (booking.departure - booking.arrival).to_i %> jours</strong>.</p>
                      <h5>Date d'arrivée: <%= booking.arrival %></h5>
                      <h5>Date de départ: <%= booking.departure %></h5>


                    </div>
                    <div class="col-xs-2 col-xs-offset-2 text-left">
                      <i class="fa fa-users"></i>  <%= booking.number_of_travellers %>
                          <i class="fa fa-eur"></i>   <%=  ((booking.departure - booking.arrival).to_i)*booking.flat.price%>
                      <br>
                      <%= link_to 'Editer mon voyage', edit_flat_booking_path(booking.flat, booking) %>
                      <br>
                      <%= link_to 'Supprimer mon voyage', flat_booking_path(booking.flat, booking), method: :delete, data: { confirm: "Are you sure?" } %>
                    </div>
                    <div class="col-xs-2">
                      State :
                      <br>
                      <% if booking.state == "Pending"%>
                        <strong><p style="color:orange"><%= booking.state %></p></strong>
                      <% elsif booking.state == "Accepted" %>
                        <strong><p style="color:green"><%= booking.state %></p></strong>
                      <% else %>
                        <strong><p style="color:red"><%= booking.state %></p></strong>
                      <% end %>
                    </div>
                  </div>
                </div>

                </li>
              </div>
              <% end %>
         </ul>
      </div>




      <div role="tabpanel" class="tab-pane" id="myapartments">

          <%= link_to "Ajouter un appartement", new_flat_path, class:"btn btn-primary" %>
          <% current_user.flats.each do |flat| %>
          <div class="tab_details">
            <div class="container">
              <div class="row">
                <div class="col-xs-2">
                  <ul>
                    <li>
                      <%= image_tag flat.picture.url(:thumb), id:"thumb_profile", class:"img-circle"  %>
                    </li>
                  </ul>
                </div>

                <div class="col-xs-6 col-xs-offset-1 text-left">
                  <br>
                  <strong>Title </strong> <%= flat.title %>
                  <br>
                  <strong>Available ? </strong><% if flat.availability%> Yes <% else %> No <%end%> <br>
                  <%= link_to "Edit apartment |", edit_flat_path(flat) %>
                  <%= link_to " Delete this apartment", flat_path(flat), method: :delete, data: { confirm: "Are you sure?" } %>
                  <br>
                  <br>
                    <% if flat.bookings.present? %>
                    <h4 id="link_locataires">See rentals  </h4>
                    <%= image_tag "close_icon.png", id:"close_icon" %>

                  <div id="locataires_details">

                  <ul>
                     <% flat.bookings.each do |booking| %>
                    <li>
                      <% if booking.user.avatar %>
                        <%= image_tag booking.user.avatar.url(:medium), id:"thumb_profile", class:"img-circle"  %>
                      <% end %>
                      <p><strong>State :</strong> <%= booking.state %></p>
                      <%= link_to 'Edit state   |', edit_flat_booking_path(flat, booking) %><%= link_to '   Delete reservation', flat_booking_path(booking.flat, booking), method: :delete, data: { confirm: "Are you sure?" } %> <br>
                      <br>
                      <p><strong>Nom du locataire :</strong> <%= booking.user.name %></p>
                      <p><strong>Arrivée :</strong> <%= booking.arrival %></p>
                      <p><strong>Départ :</strong> <%= booking.departure %></p>
                      <br> <br>


                    </li>
                    <% end %>
                  </ul>
                </div>
                <% end %>

                </div>
                <div class="col-xs-3">






                </div>
              </div>
            </div>
          </div>
          <% end %>



      </div>
</div>
