<h1>Details of your account</h1>

<h3>About you</h3>
  <% if  @user.provider %>
    <ul>
      <li><%= "Name :" %> <%= @user.name %></li>
      <li> <%= "Description :" %> <%= @user.description %></li>
      <li><%= "E-mail :" %> <%= @user.email %></li>
      </ul>
    </ul>

  <% else %>
    <ul>
        <li><%= "Name :" %> <%= @user.name %></li>
        <li> <%= "Description :" %> <%= @user.description %></li>
        <li><%= "E-mail :" %> <%= @user.email %></li>
      </ul>
    </ul>
  <% end %>

<%= link_to "Edit profile", edit_account_path %>


<ul class="nav nav-tabs">
    <li class="active"><a href="#myreservations">My reservations</a>
      <div id="myreservations">
        <ul>
          <% current_user.bookings.each do |booking| %>
            <li><%= booking.title %></li>
            <% end %>
       </ul>
      </div>



    </li>
    <li><a href="#myapartments">My apartments</a>
      <div id="myapartments">
      <%= link_to "Ajouter une annonce", new_flat_path %>
      </div>
    </li>

</ul>


